header {
    padding: 0.5px 3px;
    font-size: 14px;
    font-family: 'Rubik';
    background-color: rgb(78, 78, 235);
    color: white;
    width: 100%;
    margin: 0;
    border-radius: 15px;
}

#titulo {
    padding: 1px 100px;
    justify-self: center;
}

p {
    font-family: 'Rubik';
}

.secoes {
    font-family: 'Arial';
    background-color: white;
    padding: 50px 250px;
    border-radius: 20px;
    width: 700px;
    justify-self: center;
}

.projeto { 
    font-family: 'Arial';
    background-color: white;
    padding: 50px 250px;
    border-radius: 20px;
    width: 700px;
    justify-self: center;
}

#Main {
    font-family: 'Rubik';
    padding: 50px 270px;
    color: white;
    background-color: rgb(78, 78, 235);
    justify-self: center;
}

body {
    background-color: rgb(182, 190, 190);
}

footer{
    padding: 1px 10px;
    font-family: 'Arial';
    background-color: rgb(78, 78, 235);
    color: white;
    position: relative;
    font-family: 'Rubik';
}