header {
    padding: 10px;
    font-size: 14px;
    font-family: 'Arial';
    background-color: rgb(78, 78, 235);
    color: white;
    width: 99%;
    margin: 0;
    display: flex;
    justify-self: top;
    border-radius: 5px;
}

#titulo{
    padding: 1px 100px;
    margin: 20px auto;
}

#titulo::first-letter{
    font-size: 50px;
}

p {
    font-family: 'Arial';
}

.secoes {
    font-family: 'Rubik';
    background-color: white;
    padding: 50px 250px;
    border-radius: 20px;
    width: 700px;
    margin: 20px auto;
    transition: 0.3s;
}

.secoes:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.container {
    text-align: center;
}

.projeto { 
    font-family: 'Rubik';
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    width: 700px;
    display: inline-block;
    text-align: left;
    margin: 20px auto;
    transition: 0.3s;
}

.projeto:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#Main {
    font-family: 'Rubik';
    padding: 40px;
    width: 90%;
    max-width: 700px;
    color: white;
    background-color: rgb(66, 66, 194);
    margin: 20px auto;
    transition: 0.3s;
}

#Main:hover {
    background-color: rgb(78, 78, 235);;
    transform: scale(1.1);
    transition: 0.3s;
}

body {
    background-color: rgb(233, 242, 242);
    margin: 0;
}

footer{
    padding: 1px 10px;
    background-color: rgb(78, 78, 235);
    color: white;
    position: relative;
    font-family: 'Rubik';
    border-radius: 20px;
}

.Habilidades{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
    background-color: white;
    justify-self: center;
    width: 700px;
    margin: 20px auto;
    border-radius: 20px;
    transition: 0.3s;
}

.Habilidades:nth-child(odd){
    color: rgb(76, 76, 231);
}

.Habilidades:hover {
    transform: scale(1.1);
    transition: 0.3s;
}